/* WRAPPER */
#wrap {
    width: 1000px;
    min-height: 800px;
    margin: 0 auto;
    background-color: white;
}

/* HEADER */
#header {
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 50px;
    width: 730px;
    height: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    float: right;
    position: relative;
}

#judul {
    font-size: 50px;
    text-align: right;
    padding: 200px 40px 0 0;
}

#judul a {
    color: black;
    text-decoration: none;
}

#judul a:hover {
    color: grey;
}

.desc {
    font-size: 30px;
    color: white;
    text-align: right;
    padding: 0 40px 0 0;
}

/* MENU */
#menu ul {
    float: right;
    background: darkblue;
    padding: 0;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    list-style: none;
    width: 730px;
    margin: 0;
}

#menu ul:after {
    content: "";
    clear: both;
    display: block;
}

#menu ul li {
    float: left;
    position: relative;
}

#menu ul li:hover {
    background: blue;
}

#menu ul li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

#menu ul li:hover>a {
    color: white;
}

#menu ul ul {
    background: darkblue;
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
}

#menu ul li:hover>ul {
    display: block;
}

#menu ul ul li {
    float: none;
    position: relative;
}

#menu ul ul li a {
    padding: 10px 30px;
    color: white;
}

#menu ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

/* SIDEBAR KIRI */
#kiri {
    border-top-left-radius: 50px;
    background-color: white;
    width: 250px;
    margin: 0 0 20px;
    float: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    padding: 10px;
}

#kiri ul {
    margin: 0 0 20px 20px;
    padding: 0;
    list-style: none;
    width: 200px;
}

#kiri h2 {
    margin: 0;
    padding: 5px 12px;
    color: white;
    font-size: 20px;
    background: darkblue;
    border-radius: 5px;
}

#kiri li a {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted blue;
}

#kiri li a:hover {
    background: blue;
    color: white;
}

/* KONTEN */
#konten {
    background-color: white;
    width: 690px;
    margin: 0 0 20px;
    padding: 20px;
    float: right;
    box-shadow: 0 0 18px rgba(0, 0, 0, .25);
}

.posttitle {
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: blue;
    margin-bottom: 10px;
}

.post {
    margin: 0 20px 20px 20px;
    text-align: justify;
    color: black;
}

/* FOOTER */
#footer {
    background-color: darkblue;
    padding: 20px 0;
    width: 1000px;
    height: 90px;
    clear: both;
    margin: 20px auto 0 auto;
    text-align: center;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}