/* Header */
.header {
    margin: 10px 15px;
    padding: 5px 0;
    background: cyan;
    border-radius: 15px;
}

.header h1 {
    color: blue;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 2px #555;
}

/* Container utama */
.container {
    margin: 10px 15px;
    padding: 10px;
    background: #ecfa91;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
    border-radius: 15px;
}

/* Sidebar */
.sidebar {
    margin: 10px;
    padding: 0 10px;
    background: #90e07e;
    grid-column: 1 / span 3;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
    background: green;
    padding: 10px;
    color: white;
}

/* Konten */
.content {
    margin: 10px;
    padding: 10px;
    background: #90e070;
    grid-column: 4 / span 9;
}

.content img {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.content p {
    color: #0b872c;
    text-align: justify;
}

/* Footer */
.footer {
    margin: 10px 15px;
    padding: 5px 0;
    background: #e3b059;
    border-radius: 15px;
}

.footer h3 {
    color: #b03f25;
    text-align: center;
    font-family: monospace;
}